<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Grupo creado</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Grupo creado</h1>
    <p>Comparte este enlace para que se unan:</p>
    <p><code><%= inviteLink %></code></p>
    <p><a href="/groups/<%= group.id %>">Ver grupo</a></p>
  </body>
</html>
